<md-card class="product-card" *ngIf="!!product">
  <div
    class="product-image"
    [ngStyle]="{backgroundImage: 'url('+product.imageHref+')'}"></div>
    <div class="product-info">
      <md-card-header>
        <div md-card-avatar class="avatar"> {{ product.title.split("")[0] }}</div>
        <md-card-title>{{product.title}}</md-card-title>
        <md-card-subtitle>{{product.category}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          {{product.description}}
        </p>
        <p>
          <md-icon>open in new</md-icon>
          <a href="{{product.url}}">{{product.url}}</a>
        </p>
      </md-card-content>
    </div>
</md-card>
