.product-list {
  width: 96%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

md-card {
  flex: 0 0 40%;
  margin: 2% 0 0 0;
}

.product-image {
  height: 150px;
  width: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 5%;
}
