<md-toolbar color="primary">
  <span>{{ categoryList.title }}</span>
  <span class="fill-space"></span>
  <button md-icon-button routerLink="/"><md-icon>home</md-icon></button>
  <button md-icon-button routerLink="/category/add"><md-icon>add</md-icon></button>
  <button md-icon-button routerLink="/category/list"><md-icon>dashboard</md-icon></button>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu" [overlapTrigger]="false">
    <button
      md-menu-item
      [routerLink] = "['/category','list',category.categoryName]"
      *ngFor="let category of categoryList.categories">
      <md-icon>widgets</md-icon>
      <span>{{ category.categoryName }}</span>
    </button>
  </md-menu>
</md-toolbar>
