#product-list .product{
  margin-top: 5%;
}

#product-list img {
  max-width: 100%;
}

#product-list .card-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
