/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background-color: #eeeeee;
}

.fill-space {
  flex: 1 1 auto;
}

md-card {
  margin: 5%;
}


.avatar {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid #000;
}
